<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>

            <header>
                <h2>Petition to get concert tickets covered by the health insurance.</h2>
            </header>

            {{{body}}}

            <footer></footer>

    </body>
</html>
