{{#if error}}
    <div class ="error"> <p>Oops! something went wrong</p></div>
{{/if}}

<form class="loggingin" method="POST">

    <div class="login-container">
        <input type="text" name="email" value="" placeholder="email address">
        <input type="text" name="password" value="" placeholder="password">
    </div>

    <input name="_csrf" value="{{csrfToken}}" type="hidden">

    <div class="login">
        <button name="loginBtn">Log In</button>
    </div>

</form>
