{{#if error}}
    <div class ="error"> <p>Oops! something went wrong</p></div>
{{/if}}

<form class="" action="index.html" method="post">
    <input type="text" name="user" value="" placeholder="user">
    <input type="text" name="password" value="" placeholder="password">

    <button type="button" name="button">Enter</button>
</form>
