<form method="POST">

    {{#if error}}
        <div class ="error"> <p>Oops! something went wrong</p></div>
    {{/if}}

    <div class="signers">
        First Name: <input name="first" id="first" placeholder="first name">
        Last Name: <input name="last" id="last" placeholder="last name">
    </div>
        <canvas id="canvas" width="300" height="100"></canvas>
        <input name="signature" type="hidden" id="hidden" value="">
        <input name="_csrf" value="{{csrfToken}}" type="hidden">
        <button id="submit">Submit</button>

</form>

<script src="sign.js"></script>
