<form method="POST">

    {{#if error}}
        <div class ="error"> <h3>Oops! something went wrong</h3></div>
    {{/if}}

        <p>Sign Here:</p>
        <canvas id="canvas" width="600" height="300"></canvas>
        <input name="signature" type="hidden" id="hidden" value="">
        <input name="_csrf" value="{{csrfToken}}" type="hidden">

        <button id="submit">Submit</button>

</form>

<script src="sign.js"></script>
