<h2>Thank you for registering! Please tell us a few things about yourself</h2>

<form class="profile" method="post">
    
    <div class="input">
        <input name="age" value="" placeholder="age">
    </div>
    <div class="input">
        <input name="city" value="" placeholder="city">
    </div>
    <div class="input">
        <input name="url" value="" placeholder="homepage">
    </div>
    <div class="input">
        <input name="_csrf" value="{{csrfToken}}" type="hidden">
    </div>
    <div class="btn">
        <button name="button">Sign the petition</button>
    </div>

</form>
