<h2>Thank you for registering! Please tell us a few things about you (if you wish...)</h2>

<form class="profile" method="post">
    <input name="age" value="" placeholder="age">
    <input name="city" value="" placeholder="city">
    <input name="url" value="" placeholder="website">
    <input name="_csrf" value="{{csrfToken}}" type="hidden">
    <button name="button">Go on to the petition</button>
</form>
