<div class="logout">
    <h3><a href="/logout">Log Out</a></h3>
</div>

<form class="guapa" method="post">
    <div class="chat">
        <h3>Thank you for registering! Now please tell us a few more things about yourself (if you wish...)</h3>
    </div>

    <div class="input">
        <input name="age" value="" placeholder="Age" autocomplete="off">
    </div>
    <div class="input">
        <input name="city" value="" placeholder="City" autocomplete="off">
    </div>
    <div class="input">
        <input name="url" type="url" value="" placeholder="Homepage" autocomplete="off">
    </div>
    <div class="input">
        <input name="_csrf" value="{{csrfToken}}" type="hidden">
    </div>
    <div class="btn">
        <button name="button">Sign the petition</button>
    </div>

</form>
