{{#if error}}
    <div class ="error"> <h3>Oops! something went wrong</h3></div>
{{/if}}

<form class="registration" method="POST">

    <div class="input">
        <input type="text" name="first" value="" placeholder="first name">
    </div>
    <div class="input">
        <input type="text" name="last" value="" placeholder="last name">
    </div>
    <div class="input">
        <input type="text" name="email" value="" placeholder="email address">
    </div>
    <div class="input">
        <input type="text" name="password" value="" placeholder="password">
    </div>

    <input name="_csrf" value="{{csrfToken}}" type="hidden">

    <div class="btn">
        <button name="regBtn">Register</button>
    </div>

</form>
