{{#if error}}
    <div class ="error"> <p>Oops! something went wrong</p></div>
{{/if}}

<form class="registration" method="POST">

    <div class="reg-name">
        <input type="text" name="first" value="" placeholder="first name">
        <input type="text" name="last" value="" placeholder="last name">
    </div>
    <div class="reg-data">
        <input type="text" name="email" value="" placeholder="email address">
        <input type="text" name="password" value="" placeholder="password">
    </div>

    <input name="_csrf" value="{{csrfToken}}" type="hidden">

    <div class="register">
        <button name="regBtn">Register</button>
    </div>

</form>
