<!-- <div class="signers-container"> -->

    <h3>The Petition has been signed by the following people:</h3>

    <div class="signers">

        {{#rows}}
            <h3 class="signer">{{first}} {{last}}</li>
        {{/rows}}

    </div>

<!-- </div> -->
