<div class="thanks-container">

    <div class="thanks">
        <h1>Thank you {{first}} for your support!</h1>
        <img src="{{sig}}"/>
    </div>
    <div class="thankyou-links">
        <h3>See all {{count}} <a href="/signers">signers.</a></h3>
    </div>

</div>
