<div class="thanks">
    <h1>Thank you {{first}} for signing our petition!</h1>
    <img src="{{sig}}"/>

    <h3>You're in good company - see all {{count}} <a href="/signers">signers.</a></h3>
</div>
