* {
    box-sizing: border-box;
    margin: 0;
    /* overflow: hidden; */
}

h1 {
    text-align: center;
    padding-bottom: 100px;
    color: silver;
}

header {
    display: flex;
    height: 100px;
    background-color: white;
}

body {
    border: 3px solid black;
    background-color: ivory;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.signers {
    border: 2px dashed red;
    padding: 10px;
    margin: 20px;
}

canvas {
    border: 3px dashed black;
    align-self: center;
    margin-top: 20px;
    /* margin: auto; */
}

/* .signers-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
} */

#submit {
    align-self: center;
    margin: 10px;
}

.thanks {
    padding: 20px;
}

footer {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    background-color: white;
}

.fcontainer {
    color: silver;
}

p {
    align-self: center;
    padding-top: 20px;
}

.login,
.register,
.reg-name,
.reg-data {
    align-self: center;
    margin: 20px;
}
